
$body-bg: rgb(58, 58, 58);
$body-color: rgb(241, 241, 241);

$primary: #b3f00d;
$danger: orange;
$btn-primary-bg: rgb(167, 166, 166);
$btn-primary-color: rgb(0, 0, 0);


@import "../../node_modules/bootstrap/scss/bootstrap";